#loadData {
    position: relative;
    left: 45%;
    margin: 10px 10px;
}

#table{
    border: 10px solid rgba(43, 104, 189, 0.5);

}

#buttonWrapper {
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 10%;
    display: flex;
    justify-content:space-around;
}